.hero__contact{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0,0.5) , rgba(0, 0, 0,0.5)), url("/assets/img/contact-bg.jpg");
    width: 100%;
    min-height:500px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    object-fit: cover;
    .hero__title{
        font-size:80px;
        font-weight: 800;
        line-height: 1.2;
        margin: 0 0 8px;
        // z-index: 1111;
    }
    .hero__text{
        font-size: 24px;
        margin: 0 0 10px;
        font-weight: 300;
    line-height: 1.1;
    }
    
}
.main__contact{
    min-height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact__text{
margin: 32px 0;
font-size: 1.25rem;
min-height: 60px;
max-width: 530px;
line-height: 1.5;
    }
    .form{
        width: 100%;
        max-width: 589px;
        min-height: 492px;
    //    display: flex;
    //    flex-direction: column;
    //    align-items: flex-start;
    //    justify-content: center;
       padding: 0 24px;
       input{
        width: 100%;
        min-height:72px;
        max-width:589px;
        font-size:20px;
        border-bottom:1px solid #6c757d;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding: 20px 0;
        display: block; 
        line-height: 1.25; 
        color: #6c757d;
        display: block;
    .message{
        min-height: 192px;
    }
&:hover{
    border-bottom:1px solid  #0085A1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
}
    .send{
        background-color:#0085A1;;
        color: white;
    border: 1px solid #0085A1;;
    /* max-width: ; */
    padding: 16px;
    // font-size: 1.25rem;
   padding:16px 25px;
    margin-top: 25px;
    font-family: "Lora", serif;
    font-weight: 800;
    }
}
}


@media only screen and (max-width:768px) {
    .hero__title{
    font-size:48px;
    }
    .hero__text{
       font-size:24px;
    }
    // .main__contact {
    //     max-width: 100%;
    //     padding: 0 20px; 
    //   }
    //   .main_contact
    //    .contact_text {
    //     max-width: 100%; 
    //   }
    //   .main__contact 
    //   .form {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center; 
    //     justify-content: center; 
    //     width: 100%; 
    //   }
    //   .main__contact .form input {
    //     width: 100%; 
    //     margin-bottom: 15px; 
    //   }
    // }
}
  

//    @media only screen and (max-width: 425px) {
//     .main__contact {
//         max-width: 335px;
//         min-height: 740px;

//         .contact__text {
//             min-height: 120px;
//             max-width: 310px;
//         }

//         .form {
//             display: flex;
//             align-items: center;
//             justify-content: center;

//             #input {
//                 height: 310px !important;
//                 width: 80% !important;
//             }
//         }
//     }
// }
@media only screen and (max-width: 425px) {
    .main__contact {
      max-width: 100%;
      padding: 0 20px; 
    }
    .main_contact
     .contact_text {
      max-width: 100%; 
    }
    .main__contact 
    .form {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      width: 100%; 
    }
    .main__contact .form input {
      width: 100%; 
      margin-bottom: 15px; 
    }
  }




